#page {
	margin-top: 3em;
}

.leftcol {
    text-align: right;
}

.less-important-block {
    color: $color__text-less_important;

    a, h1, h2, h3, h4, p, li {
        color: inherit;
    }

    &:hover {
        color: $color__text-main;
    }
    

}