.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget_search, 
.widget_recent_entries,
.widget_recent_comments,
.widget_archive,
.widget_categories,
.widget_meta {
	h1, h2, h3, h4, h5, h6 {
		@include font-size(1.25);
	}
	ul {
		margin:0;
		list-style-type: none;
		li {
			margin:0 0 0.8em;
			line-height: 1.2;
		}
	}
}

