.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta {
	> span {
		font-style: italic;
		margin-right: 1em;
		i {
			font-size:0.9em;
		}
	}
}

.sep-after:after, .sep-before:before {
    content: "";
    display: block;
    width: 4em;
	border-bottom: .125em solid $color__post-seperator;
	margin-top: 1.5em;
	margin-bottom: 2.5em;
}

.sep-after.sep-after__level-two:after, .sep-before.sep-after__level-two:before {
    border-bottom-color: $color__post-seperator__level-two;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.cat-links {
	margin-bottom:1em;
}